/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
// ... or 
// @import "~@ng-select/ng-select/themes/material.theme.css";

.clr-control-container {
    width: 100%;
    input {
        width: 80%;
    }
    textarea {
        width: 80% !important;
    }
}

.form.form-container {
    .error-message {
        color: #c21d00;
        font-size: 11px;
    }
}